div.todoStatusACTIVE {
    color: blue;
    margin-left: 20px;
}

div.todoStatusCOMPLETE{
    color: darkgreen;
    margin-left: 20px;
}

div.todoStatusDELETED{
    color: darkred;
    text-decoration: line-through;
    margin-left: 20px;
}

div.category{
    font-family: Algerian,sans-serif;
    font-size: 20px;
}

.breathVertical {
    margin-top:5px;
    margin-bottom:5px;
}

.breathHorizontal {
    margin-left:5px;
    margin-right:5px;
}

.checkbox{
    float: left;
    margin-left:5px;
    margin-right:5px;
}

.button{
    color: red;
    margin-left:10px;
    margin-right:5px;
}

h1{
    font-family: Algerian, sans-serif;
    padding: 30px;
    text-align: center;
    color: gold;
    background-color: black;
}

hr{
    height: 2px;
    background-color: black;
}

a{
    color: blueviolet;
    float: right;
    text-decoration: underline;
}